<h2>Heroes</h2>{{currentOutlet}}
<ul class="heroes">
  <li *ngFor="let hero of heroes$ | async" [class.selected]="hero.id === selectedId">
    <!-- <a [routerLink]="getRoute(hero)">
      <span class="badge">{{ hero.id }}</span>{{ hero.name }}
    </a> -->
    <!-- <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a> -->
    <a (click)="goEditHero(hero)"><span class="badge">{{ hero.id }}</span>{{ hero.name }}</a>
  </li>
</ul>

<button type="button" routerLink="/sidekicks">Go to sidekicks</button>
