<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>uno works! en Outlet {{currentOutlet}}</h1>
        </div>
        <div class="col-6">
            <button (click)="goToHeroList()">Ir al superheroes</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius et, ipsum velit quo accusamus eum error aliquam tempora inventore itaque sint ea vel sit magnam laudantium fuga nisi mollitia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem corporis officiis vel dolores rerum aspernatur deserunt! Incidunt, ad, vitae omnis suscipit pariatur repudiandae vero quas ducimus quam atque sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eaque nihil nemo culpa consequatur mollitia in provident ipsum quo quibusdam quam sapiente optio saepe nostrum, corrupti nulla. Soluta, nulla voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, explicabo quae. Exercitationem consequuntur consectetur, dolorem nulla excepturi reiciendis velit voluptatem architecto voluptates nobis? Magnam, iste quis. Laborum, cupiditate blanditiis. Corporis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius et, ipsum velit quo accusamus eum error aliquam tempora inventore itaque sint ea vel sit magnam laudantium fuga nisi mollitia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem corporis officiis vel dolores rerum aspernatur deserunt! Incidunt, ad, vitae omnis suscipit pariatur repudiandae vero quas ducimus quam atque sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eaque nihil nemo culpa consequatur mollitia in provident ipsum quo quibusdam quam sapiente optio saepe nostrum, corrupti nulla. Soluta, nulla voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, explicabo quae. Exercitationem consequuntur consectetur, dolorem nulla excepturi reiciendis velit voluptatem architecto voluptates nobis? Magnam, iste quis. Laborum, cupiditate blanditiis. Corporis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius et, ipsum velit quo accusamus eum error aliquam tempora inventore itaque sint ea vel sit magnam laudantium fuga nisi mollitia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem corporis officiis vel dolores rerum aspernatur deserunt! Incidunt, ad, vitae omnis suscipit pariatur repudiandae vero quas ducimus quam atque sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eaque nihil nemo culpa consequatur mollitia in provident ipsum quo quibusdam quam sapiente optio saepe nostrum, corrupti nulla. Soluta, nulla voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, explicabo quae. Exercitationem consequuntur consectetur, dolorem nulla excepturi reiciendis velit voluptatem architecto voluptates nobis? Magnam, iste quis. Laborum, cupiditate blanditiis. Corporis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius et, ipsum velit quo accusamus eum error aliquam tempora inventore itaque sint ea vel sit magnam laudantium fuga nisi mollitia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem corporis officiis vel dolores rerum aspernatur deserunt! Incidunt, ad, vitae omnis suscipit pariatur repudiandae vero quas ducimus quam atque sapiente?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eaque nihil nemo culpa consequatur mollitia in provident ipsum quo quibusdam quam sapiente optio saepe nostrum, corrupti nulla. Soluta, nulla voluptatum?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, explicabo quae. Exercitationem consequuntur consectetur, dolorem nulla excepturi reiciendis velit voluptatem architecto voluptates nobis? Magnam, iste quis. Laborum, cupiditate blanditiis. Corporis?</p>         
        </div>
    </div>
</section>