<div class="wrapper">
  <h1 class="title">Angular Router</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active" ariaCurrentWhenActive="page">Crisis Center</a>
    <!-- <a routerLink="/superheroes" routerLinkActive="active" ariaCurrentWhenActive="page">Heroes</a> -->
    <a [routerLink]="['liga','superheroes']">Heroes</a>
    <a [routerLink]="[{ outlets: { popup: ['liga','superheroes'] } }]">Heroes en popup</a>
    <a [routerLink]="[{ outlets: { detalles: ['liga','superheroes'] } }]">Heroes en detalles</a>
    <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    <a [routerLink]="['compose']">Contact en primary</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] }}]">Contact en popup</a>
    <a [routerLink]="[{ outlets: { detalles: ['compose'] } }]">Contact en detalles</a>
    <a [routerLink]="['pruebas','uno']">Prueba Uno</a>
    <a [routerLink]="[{ outlets: { popup: ['pruebas','uno'] }}]">Prueba Uno popup</a>
    <a [routerLink]="[{ outlets: { detalles: ['pruebas','uno'] }}]">Prueba Uno detalles</a>
  </nav>

  <!-- <div style="width: 98vw; height: 50vh; background: lightgray;">
    <as-split direction="vertical">
      <as-split-area [size]="40">
        <as-split direction="horizontal">
          <as-split-area [size]="60">
            <div class="button-container">
              <button (click)="maximize('outlet2', 1)">max</button>
              <button (click)="minimize('outlet2')">min</button>
            </div>
            <div class="test-b-container">
              <p>A LEFT</p>
            </div>
          </as-split-area>
          <as-split-area [size]="60">
            <p>A RIGHT</p>
          </as-split-area>
          <p>LEFT</p>
        </as-split>
      </as-split-area>
      <as-split-area [size]="60">
        <as-split direction="horizontal">
          <as-split-area [size]="60">
            <p>B LEFT</p>
          </as-split-area>
          <as-split-area [size]="60">
            <p>B RIGHT</p>
          </as-split-area>
          <p>LEFT</p>
        </as-split>
      </as-split-area>
    </as-split>
  </div> -->
  <!-- <as-split direction="vertical">
    <as-split-area [size]="100">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quos error eos sunt dolore molestiae ullam molestias fuga delectus laboriosam praesentium nostrum quae voluptate tempore omnis soluta, atque rem obcaecati?</p>
    </as-split-area>
  </as-split> -->
  <div style="width: 99vw; height: 80vh; background: white;">
    <as-split (transitionEnd)="transitionEnd($event)" direction="vertical" [restrictMove]="true" [useTransition]="true">
      <as-split-area [size]="50" [visible]="outlet1Split1" [order]="1">
        <as-split (dragEnd)="dragEnd($event)" direction="horizontal" [restrictMove]="true" [useTransition]="true">
          <as-split-area #area1 [size]="40" [visible]="outlet1cuad1" [order]="3" (scroll)="doSomethingOnScroll($event)">
            <div class="area-container" >
              <div class="button-container">
                <button (click)="maximize('outlet1', 1)">max</button>
                <button (click)="minimize('outlet1')">min</button>
                <button (click)="areaVisible()">min</button>
              </div>
              <div class="outlet-container" style="background-color: rgb(250, 226, 230);" >
                <div class="canvas">
                  <i>primary outlet</i>
                  <router-outlet
                  (activate)='onActivate($event)'
                  (deactivate)='onDeactivate($event)'
                  (attach)='onAttach($event)'
                  (detach)='onDetach($event)'></router-outlet>
                </div>
              </div>
            </div>
          </as-split-area>
          <as-split-area [size]="60" [visible]="outlet1cuad2" [order]="4">
            <button (click)="maximize('outlet1', 2)">max</button>
            <button (click)="minimize('outlet1')">min</button>
            <div style="background-color: rgb(238, 254, 255);">
              <i> popup outlet</i>
               <router-outlet name="popup"
               (activate)='onActivatePopUp($event)'
               (deactivate)='onDeactivatePopUp($event)'
               (attach)='onAttachPopUp($event)'
               (detach)='onDetachPopUp($event)'></router-outlet>
             </div>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area [size]="50" [visible]="outlet1Split2" [order]="2">
        <as-split direction="horizontal" [restrictMove]="true" [useTransition]="true">
          <as-split-area [size]="60" [visible]="outlet1cuad3" [order]="5">
            <button (click)="maximize('outlet1', 3)">max</button>
            <button (click)="minimize('outlet1')">min</button>
            <div style="background-color: rgb(245, 247, 218);">
              <i>detalles outlet</i>
              <router-outlet name="detalles"
              (activate)='onActivateDetails($event)'
              (deactivate)='onDeactivateDetails($event)'
              (attach)='onAttachDetails($event)'
              (detach)='onDetachDetails($event)'></router-outlet>
            </div>
          </as-split-area>
          <as-split-area [size]="40" [visible]="outlet1cuad4" [order]="6">
            <button (click)="maximize('outlet1', 4)">max</button>
            <button (click)="minimize('outlet1')">min</button>
            <p>B 2</p>
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </div>




</div>