<div class="wrapper">
  <h1 class="title">Angular Router</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active" ariaCurrentWhenActive="page">Crisis Center</a>
    <!-- <a routerLink="/superheroes" routerLinkActive="active" ariaCurrentWhenActive="page">Heroes</a> -->
    <a [routerLink]="['liga','superheroes']">Heroes</a>
    <a [routerLink]="[{ outlets: { popup: ['liga','superheroes'] } }]">Heroes en popup</a>
    <a [routerLink]="[{ outlets: { detalles: ['liga','superheroes'] } }]">Heroes en detalles</a>
    <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    <a [routerLink]="['compose']">Contact en primary</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] }}]">Contact en popup</a>
    <a [routerLink]="[{ outlets: { detalles: ['compose'] } }]">Contact en detalles</a>
    <a [routerLink]="['pruebas','uno']">Prueba Uno</a>
    <a [routerLink]="[{ outlets: { popup: ['pruebas','uno'] }}]">Prueba Uno popup</a>
    <a [routerLink]="[{ outlets: { detalles: ['pruebas','uno'] }}]">Prueba Uno detalles</a>
  </nav>
  <div style="background-color: rgb(250, 226, 230);">
    <i>primary outlet</i>
    <router-outlet
    (activate)='onActivate($event)'
    (deactivate)='onDeactivate($event)'
    (attach)='onAttach($event)'
    (detach)='onDetach($event)'></router-outlet>
  </div>
  <div style="background-color: rgb(238, 254, 255);">
   <i> popup outlet</i>
    <router-outlet name="popup"
    (activate)='onActivatePopUp($event)'
    (deactivate)='onDeactivatePopUp($event)'
    (attach)='onAttachPopUp($event)'
    (detach)='onDetachPopUp($event)'></router-outlet>
  </div>
  <div style="background-color: rgb(245, 247, 218);">
    <i>detalles outlet</i>
    <router-outlet name="detalles"
    (activate)='onActivateDetails($event)'
    (deactivate)='onDeactivateDetails($event)'
    (attach)='onAttachDetails($event)'
    (detach)='onDetachDetails($event)'></router-outlet>
  </div>
</div>