<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
  <div class="col">
    <ul>
      <li>Krilin - 700</li>
      <li>Goku - 15000</li>
      <li>Vegeete - 8500</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr>
    <!-- <form (submit)="agregar($event)"> Forma vieja-->
    <form (ngSubmit)="agregar()">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Poder">
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col"><child-component (onEnviaMensaje)="recibeMensaje($event)"></child-component></div>
  <div class="col" [ngStyle]="{'margin-top':'20px'}">{{mensaje}}</div>
</div>
